mule-control-app/src/main/app/c64-control-hub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <anypoint-mq:config name="Anypoint_MQ_Configuration-c64-control-hub" doc:name="Anypoint MQ Configuration">
        <anypoint-mq:provider url="https://mq-us-east-1.anypoint.mulesoft.com/api/v1" clientId="2cc7b2ae1e6f47be9ed9638f489d2a13" clientSecret="80bed3adfe3b449eA866EC803C9C9A37"/>
    </anypoint-mq:config>
    <twitter:config name="Twitter__Configuration-c64" accessKey="1627285890-XfCvMumITmruODTbLfESFRnyW20knhN84SQHrel" accessSecret="6yW1QQYh4Fd6hh3vUmgAvYSmDnZTObeh6spa3YmFNY" consumerKey="v3TFFvEqkkUSMJhn91yPA" consumerSecret="sv8n88vbe9rDVwvrPTj7UhYVw9GP6TUQuDRADSIY6s" doc:name="Twitter: Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="api.openweathermap.org" port="80" basePath="data/2.5/weather" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_OpenWeatherMap" host="api.openweathermap.org" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="control-static-content">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/control/*" doc:name="HTTP"/>
        <http:static-resource-handler resourceBase="${app.home}/static/control" defaultFile="index.html" doc:name="HTTP Static Resource Handler"/>
    </flow>
    <flow name="weather">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/weather" doc:name="HTTP" allowedMethods="POST">
            <http:response-builder />
        </http:listener>
        <http:request config-ref="HTTP_Request_OpenWeatherMap" path="data/2.5/weather" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="q" value="SanFrancisco,us"/>
                <http:query-param paramName="appid" value="deb15d321034ef704f75416ff633b9a5"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	type: "weather",
	city: payload.name,
	description: payload.weather[0].main,
	currentTemp: payload.main.temp,
	lowTemp: payload.main.temp_min,
	highTemp: payload.main.temp_max
}]]></dw:set-payload>
        </dw:transform-message>
        <anypoint-mq:publish config-ref="Anypoint_MQ_Configuration-c64-control-hub" destination="c64-interactive-queue" doc:name="Anypoint MQ"/>
    </flow>
    <flow name="stream-recieve-tweets">
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="list_Status.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
//	mentions: payload.items groupBy $.user.screenName pluck {
//		user: $$,
//		text: $.text
	type: "tweet",
	user: "@$(payload.user.screenName)",
	text: payload.text
}]]></dw:set-payload>
        </dw:transform-message>
        <anypoint-mq:publish config-ref="Anypoint_MQ_Configuration-c64-control-hub" destination="c64-interactive-queue" doc:name="Anypoint MQ - interactive queue"/>
    </flow>
    <flow name="send-tweet">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/tweet" allowedMethods="POST" doc:name="HTTP"/>
        <twitter:update-status config-ref="Twitter__Configuration-c64"  doc:name="Twitter" status="@stevenbutt24 created with api bot #[message.id]"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="reboot">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/reboot" allowedMethods="PUT" doc:name="HTTP"/>
        <set-payload value="{&quot;type&quot;:&quot;reboot&quot;}" mimeType="application/json" doc:name="Set Payload"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <anypoint-mq:publish config-ref="Anypoint_MQ_Configuration-c64-control-hub" destination="c64-interactive-queue" doc:name="Anypoint MQ"/>
    </flow>
    <flow name="c64-control-hubFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/color" allowedMethods="POST" doc:name="HTTP"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	type: "color",
	entity: payload.colortype,
	value: payload.color
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <anypoint-mq:publish config-ref="Anypoint_MQ_Configuration-c64-control-hub" destination="c64-interactive-queue" doc:name="Anypoint MQ"/>
    </flow>
</mule>
