raspberry-pi/pi-mule-app/src/main/app/pi-mule-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <anypoint-mq:config name="Anypoint_MQ_Configuration-Rasp-PI-CLIENT" doc:name="Anypoint MQ Configuration">
        <anypoint-mq:provider url="https://mq-us-east-1.anypoint.mulesoft.com/api/v1" clientId="60186e15cf8d4be2b3d0897ace40d3a2" clientSecret="3208c2601b4a4581A7C4532E6139DC88"/>
    </anypoint-mq:config>
    <http:request-config name="HueHub" host="192.168.0.166" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="retrieve-message">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/message" allowedMethods="GET" doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="Content-type" value="application/json"/>
            </http:response-builder>
        </http:listener>
        <anypoint-mq:consume config-ref="Anypoint_MQ_Configuration-Rasp-PI-CLIENT" destination="c64-interactive-queue" acknowledgementMode="NONE" doc:name="Anypoint MQ" pollingTime="2000"/>
        <logger message="Got message: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="process-c64-command">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/message" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <component class="com.mulesoft.c64.pi.ProcessC64Message" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="PUT light command: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HueHub" path="/api/15cfeb5d3c786ba71cdfcb193c0fe5c3/lights/4/state" method="PUT" doc:name="HTTP"/>
    </flow>
</mule>
